element.style {
    width: 100%;
    height: 100%;
}

.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
    direction: ltr;
    font-family: "Open Sans", verdana, arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}